<header>  
    <a class="logo navbar" href="/">
        <picture>
            <source media="(min-width:1024px)" srcset="{{ $image := resources.Get "images/logo.svg" }} {{ $image.RelPermalink }}">
            <source media="(min-width:768px)" srcset="{{ $image := resources.Get "images/icon.svg" }} {{ $image.RelPermalink }}">
            <img src="{{ $image := resources.Get "images/icon.svg" }} {{ $image.RelPermalink }}" alt="Ondernemers vereninging Exloo">
        </picture>
    </a>

    <nav role="navigation">  
    <input class="menu__toggle" type="checkbox" id="menu__toggle" />
    <label class="menu__button_container" for="menu__toggle">
            <span class="menu__button"></span>
    </label>
        <ul class="menu">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}{{ if eq .Name "Contact" }} accent {{ end }} ">
                <a href="{{ .URL }}">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
            </li>
            {{ end }}
        </ul>
    </nav>
</header>  
