<head>
    <meta name="author" content="{{if .Params.author }}{{ delimit . ", " }}{{ else }}Dennis Pater{{ end }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    //{{ with resources.Get "images/favicon.png" }}
    //    <link rel="shortcut icon" href="{{ .RelPermalink }}" type="image/x-icon">
    //{{ end }}
    {{ if .Site.IsServer }}
        {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
        <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
    {{ else }}
        {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
        <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
    {{ end }}
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
    <meta name="description" content="{{ if .Params.Description }}{{ .Params.Description }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ else }}Supermarkt Exloo{{ end }}" /> 
    <meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}" />
</head>
