// reset html
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Brevia, serif, sans-serif, Arial;
}

html {
	scroll-behavior: smooth;
}

html,
a {
	color: $color__primary;
	text-decoration: none;
}

.hideit {
    display: none;
}

h1,
h2,
h3,
h4,
h5 {
    color: $color__primary;
}

ul {
	list-style: none;
}
// Media quary

@mixin sm {
    @media (min-width: #{$min__sm}) {
        @content;
    }
}
@mixin md {
    // Medium devices
    @media (min-width: #{$min__md}) {
        @content;
    }
}

@mixin lg {
    // Large devices
    @media (min-width: #{$min__lg}) {
        @content;
    }
}
@mixin xl {
    // Extra large devices
    @media (min-width: #{$min__xl}) {
        @content;
    }
}

