
// Fonts
@font-face {
	font-family: 'Brevia';
	src: url('/fonts/Brevia-BlackItalic.eot');
	src: local('Brevia-Black Italic'), local('Brevia-BlackItalic'),
	url('/fonts/Brevia-BlackItalic.eot?#iefix') format('embedded-opentype'),
	url('/fonts/Brevia-BlackItalic.woff2') format('woff2'),
	url('/fonts/Brevia-BlackItalic.woff') format('woff'),
	url('/fonts/Brevia-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Brevia';
	src: url('fonts/Brevia-SemiboldItalic.eot');
	src: local('Brevia-SemiboldItalic'),
	url('fonts/Brevia-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
	url('fonts/Brevia-SemiboldItalic.woff2') format('woff2'),
	url('fonts/Brevia-SemiboldItalic.woff') format('woff'),
	url('fonts/Brevia-SemiboldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Brevia';
	src: url('fonts/Brevia-MediumItalic.eot');
	src: local('Brevia-MediumItalic'),
	url('fonts/Brevia-MediumItalic.eot?#iefix') format('embedded-opentype'),
	url('fonts/Brevia-MediumItalic.woff2') format('woff2'),
	url('fonts/Brevia-MediumItalic.woff') format('woff'),
	url('fonts/Brevia-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Brevia ExtraBlack';
	src: url('fonts/Brevia-ExtraBlackItalic.eot');
	src: local('Brevia-ExtraBlackItalic'),
	url('fonts/Brevia-ExtraBlackItalic.eot?#iefix') format('embedded-opentype'),
	url('fonts/Brevia-ExtraBlackItalic.woff2') format('woff2'),
	url('fonts/Brevia-ExtraBlackItalic.woff') format('woff'),
	url('fonts/Brevia-ExtraBlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Brevia';
	src: url('fonts/Brevia-Light.eot');
	src: local('Brevia-Light'),
	url('fonts/Brevia-Light.eot?#iefix') format('embedded-opentype'),
	url('fonts/Brevia-Light.woff2') format('woff2'),
	url('fonts/Brevia-Light.woff') format('woff'),
	url('fonts/Brevia-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Brevia';
	src: url('/fonts/Brevia-Regular.eot');
	src: local('Brevia-Regular'),
	url('/fonts/Brevia-Regular.eot?#iefix') format('embedded-opentype'),
	url('/fonts/Brevia-Regular.woff2') format('woff2'),
	url('/fonts/Brevia-Regular.woff') format('woff'),
	url('/fonts/Brevia-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Brevia';
	src: url('fonts/Brevia-Black.eot');
	src: local('Brevia-Black'),
	url('fonts/Brevia-Black.eot?#iefix') format('embedded-opentype'),
	url('fonts/Brevia-Black.woff2') format('woff2'),
	url('fonts/Brevia-Black.woff') format('woff'),
	url('fonts/Brevia-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Brevia';
	src: url('fonts/Brevia-LightItalic.eot');
	src: local('Brevia-LightItalic'),
	url('fonts/Brevia-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('fonts/Brevia-LightItalic.woff2') format('woff2'),
	url('fonts/Brevia-LightItalic.woff') format('woff'),
	url('fonts/Brevia-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Brevia ExtraBlack';
	src: url('fonts/Brevia-ExtraBlack.eot');
	src: local('Brevia-ExtraBlack'),
	url('fonts/Brevia-ExtraBlack.eot?#iefix') format('embedded-opentype'),
	url('fonts/Brevia-ExtraBlack.woff2') format('woff2'),
	url('fonts/Brevia-ExtraBlack.woff') format('woff'),
	url('fonts/Brevia-ExtraBlack.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Brevia';
	src: url('fonts/Brevia-Semibold.eot');
	src: local('Brevia-Semibold'),
	url('fonts/Brevia-Semibold.eot?#iefix') format('embedded-opentype'),
	url('fonts/Brevia-Semibold.woff2') format('woff2'),
	url('fonts/Brevia-Semibold.woff') format('woff'),
	url('fonts/Brevia-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Brevia Regular';
	src: url('fonts/Brevia-RegularItalic.eot');
	src: local('Brevia-RegularItalic'),
	url('fonts/Brevia-RegularItalic.eot?#iefix') format('embedded-opentype'),
	url('fonts/Brevia-RegularItalic.woff2') format('woff2'),
	url('fonts/Brevia-RegularItalic.woff') format('woff'),
	url('fonts/Brevia-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Brevia';
	src: url('fonts/Brevia-Bold.eot');
	src: local('Brevia-Bold'),
	url('fonts/Brevia-Bold.eot?#iefix') format('embedded-opentype'),
	url('fonts/Brevia-Bold.woff2') format('woff2'),
	url('fonts/Brevia-Bold.woff') format('woff'),
	url('fonts/Brevia-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Brevia';
	src: url('fonts/Brevia-Medium.eot');
	src: local('Brevia-Medium'),
	url('fonts/Brevia-Medium.eot?#iefix') format('embedded-opentype'),
	url('fonts/Brevia-Medium.woff2') format('woff2'),
	url('fonts/Brevia-Medium.woff') format('woff'),
	url('fonts/Brevia-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Brevia';
	src: url('fonts/Brevia-BoldItalic.eot');
	src: local('Brevia-Bold Italic'), local('Brevia-BoldItalic'),
	url('fonts/Brevia-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('fonts/Brevia-BoldItalic.woff2') format('woff2'),
	url('fonts/Brevia-BoldItalic.woff') format('woff'),
	url('fonts/Brevia-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Brush Script';
	src: url('fonts/BrushScriptStd.eot');
	src: local('Brush Script Std Medium'), local('BrushScriptStd'),
	url('fonts/BrushScriptStd.eot?#iefix') format('embedded-opentype'),
	url('fonts/BrushScriptStd.woff2') format('woff2'),
	url('fonts/BrushScriptStd.woff') format('woff'),
	url('fonts/BrushScriptStd.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
