// Color scheme
$primary: rgba(18, 40, 36, 1);
$primary-opacity5: rgba(18, 40, 36, 0.5);
$complementary: rgba(40, 22, 18, 1);
$color-li: rgba(243, 249, 210, 1);
$color-lg: rgba(203, 234, 166, 1);
$color-pi: rgba(192, 214, 132, 1);

// Breakpoints
$sm-min: 480px;
$md-min: 768px;
$lg-min: 1024px; 
$xl-min: 1260px;

$content: 720px;

// Fonts
@font-face {
	font-family: 'Brevia';
	src: url('{{ $font := resources.Get "fonts/Brevia-BlackItalic.eot" }}{{ $font.RelPermalink }}');
	src: local('Brevia-Black Italic'), local('Brevia-BlackItalic'),
	url('{{ $font := resources.Get "fonts/Brevia-BlackItalic.eot?#iefix" }}{{ $font.RelPermalink }}') format('embedded-opentype'),
	url('{{ $font := resources.Get "fonts/Brevia-BlackItalic.woff2" }}{{ $font.RelPermalink }}') format('woff2'),
	url('{{ $font := resources.Get "fonts/Brevia-BlackItalic.woff" }}{{ $font.RelPermalink }}') format('woff'),
	url('{{ $font := resources.Get "fonts/Brevia-BlackItalic.ttf" }}{{ $font.RelPermalink }}') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Brevia';
	src: url('{{ $font := resources.Get "fonts/Brevia-SemiboldItalic.eot');
	src: local('Brevia-SemiboldItalic'),
	url('{{ $font := resources.Get "fonts/Brevia-SemiboldItalic.eot?#iefix" }}{{ $font.RelPermalink }}') format('embedded-opentype'),
	url('{{ $font := resources.Get "fonts/Brevia-SemiboldItalic.woff2" }}{{ $font.RelPermalink }}') format('woff2'),
	url('{{ $font := resources.Get "fonts/Brevia-SemiboldItalic.woff" }}{{ $font.RelPermalink }}') format('woff'),
	url('{{ $font := resources.Get "fonts/Brevia-SemiboldItalic.ttf" }}{{ $font.RelPermalink }}') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Brevia';
	src: url('{{ $font := resources.Get "fonts/Brevia-MediumItalic.eot" }}{{ $font.RelPermalink }}');
	src: local('Brevia-MediumItalic'),
	url('{{ $font := resources.Get "fonts/Brevia-MediumItalic.eot?#iefix" }}{{ $font.RelPermalink }}') format('embedded-opentype'),
	url('{{ $font := resources.Get "fonts/Brevia-MediumItalic.woff2" }}{{ $font.RelPermalink }}') format('woff2'),
	url('{{ $font := resources.Get "fonts/Brevia-MediumItalic.woff" }}{{ $font.RelPermalink }}') format('woff'),
	url('{{ $font := resources.Get "fonts/Brevia-MediumItalic.ttf" }}{{ $font.RelPermalink }}') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Brevia ExtraBlack';
	src: url('{{ $font := resources.Get "fonts/Brevia-ExtraBlackItalic.eot" }}{{ $font.RelPermalink }}');
	src: local('Brevia-ExtraBlackItalic'),
	url('{{ $font := resources.Get "fonts/Brevia-ExtraBlackItalic.eot?#iefix" }}{{ $font.RelPermalink }}') format('embedded-opentype'),
	url('{{ $font := resources.Get "fonts/Brevia-ExtraBlackItalic.woff2" }}{{ $font.RelPermalink }}') format('woff2'),
	url('{{ $font := resources.Get "fonts/Brevia-ExtraBlackItalic.woff" }}{{ $font.RelPermalink }}') format('woff'),
	url('{{ $font := resources.Get "fonts/Brevia-ExtraBlackItalic.ttf" }}{{ $font.RelPermalink }}') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Brevia';
	src: url('{{ $font := resources.Get "fonts/Brevia-Light.eot" }}{{ $font.RelPermalink }}');
	src: local('Brevia-Light'),
	url('{{ $font := resources.Get "fonts/Brevia-Light.eot?#iefix" }}{{ $font.RelPermalink }}') format('embedded-opentype'),
	url('{{ $font := resources.Get "fonts/Brevia-Light.woff2" }}{{ $font.RelPermalink }}') format('woff2'),
	url('{{ $font := resources.Get "fonts/Brevia-Light.woff" }}{{ $font.RelPermalink }}') format('woff'),
	url('{{ $font := resources.Get "fonts/Brevia-Light.ttf" }}{{ $font.RelPermalink }}') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Brevia';
	src: url('{{ $font := resources.Get "fonts/Brevia-Regular.eot" }}{{ $font.RelPermalink }}');
	src: local('Brevia-Regular'),
	url('{{ $font := resources.Get "fonts/Brevia-Regular.eot?#iefix" }}{{ $font.RelPermalink }}') format('embedded-opentype'),
	url('{{ $font := resources.Get "fonts/Brevia-Regular.woff2" }}{{ $font.RelPermalink }}') format('woff2'),
	url('{{ $font := resources.Get "fonts/Brevia-Regular.woff" }}{{ $font.RelPermalink }}') format('woff'),
	url('{{ $font := resources.Get "fonts/Brevia-Regular.ttf" }}{{ $font.RelPermalink }}') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Brevia';
	src: url('{{ $font := resources.Get "fonts/Brevia-Black.eot" }}{{ $font.RelPermalink }}');
	src: local('Brevia-Black'),
	url('{{ $font := resources.Get "fonts/Brevia-Black.eot?#iefix" }}{{ $font.RelPermalink }}') format('embedded-opentype'),
	url('{{ $font := resources.Get "fonts/Brevia-Black.woff2" }}{{ $font.RelPermalink }}') format('woff2'),
	url('{{ $font := resources.Get "fonts/Brevia-Black.woff" }}{{ $font.RelPermalink }}') format('woff'),
	url('{{ $font := resources.Get "fonts/Brevia-Black.ttf" }}{{ $font.RelPermalink }}') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Brevia';
	src: url('{{ $font := resources.Get "fonts/Brevia-LightItalic.eot" }}{{ $font.RelPermalink }}');
	src: local('Brevia-LightItalic'),
	url('{{ $font := resources.Get "fonts/Brevia-LightItalic.eot?#iefix" }}{{ $font.RelPermalink }}') format('embedded-opentype'),
	url('{{ $font := resources.Get "fonts/Brevia-LightItalic.woff2" }}{{ $font.RelPermalink }}') format('woff2'),
	url('{{ $font := resources.Get "fonts/Brevia-LightItalic.woff" }}{{ $font.RelPermalink }}') format('woff'),
	url('{{ $font := resources.Get "fonts/Brevia-LightItalic.ttf" }}{{ $font.RelPermalink }}') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Brevia ExtraBlack';
	src: url('{{ $font := resources.Get "fonts/Brevia-ExtraBlack.eot" }}{{ $font.RelPermalink }}');
	src: local('Brevia-ExtraBlack'),
	url('{{ $font := resources.Get "fonts/Brevia-ExtraBlack.eot?#iefix" }}{{ $font.RelPermalink }}') format('embedded-opentype'),
	url('{{ $font := resources.Get "fonts/Brevia-ExtraBlack.woff2" }}{{ $font.RelPermalink }}') format('woff2'),
	url('{{ $font := resources.Get "fonts/Brevia-ExtraBlack.woff" }}{{ $font.RelPermalink }}') format('woff'),
	url('{{ $font := resources.Get "fonts/Brevia-ExtraBlack.ttf" }}{{ $font.RelPermalink }}') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Brevia';
	src: url('{{ $font := resources.Get "fonts/Brevia-Semibold.eot" }}{{ $font.RelPermalink }}');
	src: local('Brevia-Semibold'),
	url('{{ $font := resources.Get "fonts/Brevia-Semibold.eot?#iefix" }}{{ $font.RelPermalink }}') format('embedded-opentype'),
	url('{{ $font := resources.Get "fonts/Brevia-Semibold.woff2" }}{{ $font.RelPermalink }}') format('woff2'),
	url('{{ $font := resources.Get "fonts/Brevia-Semibold.woff" }}{{ $font.RelPermalink }}') format('woff'),
	url('{{ $font := resources.Get "fonts/Brevia-Semibold.ttf" }}{{ $font.RelPermalink }}') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Brevia Regular';
	src: url('{{ $font := resources.Get "fonts/Brevia-RegularItalic.eot" }}{{ $font.RelPermalink }}');
	src: local('Brevia-RegularItalic'),
	url('{{ $font := resources.Get "fonts/Brevia-RegularItalic.eot?#iefix" }}{{ $font.RelPermalink }}') format('embedded-opentype'),
	url('{{ $font := resources.Get "fonts/Brevia-RegularItalic.woff2" }}{{ $font.RelPermalink }}') format('woff2'),
	url('{{ $font := resources.Get "fonts/Brevia-RegularItalic.woff" }}{{ $font.RelPermalink }}') format('woff'),
	url('{{ $font := resources.Get "fonts/Brevia-RegularItalic.ttf" }}{{ $font.RelPermalink }}') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Brevia';
	src: url('{{ $font := resources.Get "fonts/Brevia-Bold.eot" }}{{ $font.RelPermalink }}');
	src: local('Brevia-Bold'),
	url('{{ $font := resources.Get "fonts/Brevia-Bold.eot?#iefix" }}{{ $font.RelPermalink }}') format('embedded-opentype'),
	url('{{ $font := resources.Get "fonts/Brevia-Bold.woff2" }}{{ $font.RelPermalink }}') format('woff2'),
	url('{{ $font := resources.Get "fonts/Brevia-Bold.woff" }}{{ $font.RelPermalink }}') format('woff'),
	url('{{ $font := resources.Get "fonts/Brevia-Bold.ttf" }}{{ $font.RelPermalink }}') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Brevia';
	src: url('{{ $font := resources.Get "fonts/Brevia-Medium.eot" }}{{ $font.RelPermalink }}');
	src: local('Brevia-Medium'),
	url('{{ $font := resources.Get "fonts/Brevia-Medium.eot?#iefix" }}{{ $font.RelPermalink }}') format('embedded-opentype'),
	url('{{ $font := resources.Get "fonts/Brevia-Medium.woff2" }}{{ $font.RelPermalink }}') format('woff2'),
	url('{{ $font := resources.Get "fonts/Brevia-Medium.woff" }}{{ $font.RelPermalink }}') format('woff'),
	url('{{ $font := resources.Get "fonts/Brevia-Medium.ttf" }}{{ $font.RelPermalink }}') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Brevia';
	src: url('{{ $font := resources.Get "fonts/Brevia-BoldItalic.eot" }}{{ $font.RelPermalink }}');
	src: local('Brevia-Bold Italic'), local('Brevia-BoldItalic'),
	url('{{ $font := resources.Get "fonts/Brevia-BoldItalic.eot?#iefix" }}{{ $font.RelPermalink }}') format('embedded-opentype'),
	url('{{ $font := resources.Get "fonts/Brevia-BoldItalic.woff2" }}{{ $font.RelPermalink }}') format('woff2'),
	url('{{ $font := resources.Get "fonts/Brevia-BoldItalic.woff" }}{{ $font.RelPermalink }}') format('woff'),
	url('{{ $font := resources.Get "fonts/Brevia-BoldItalic.ttf" }}{{ $font.RelPermalink }}') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Brush Script';
	src: url('{{ $font := resources.Get "fonts/BrushScriptStd.eot" }}{{ $font.RelPermalink }}');
	src: local('Brush Script Std Medium'), local('BrushScriptStd'),
	url('{{ $font := resources.Get "fonts/BrushScriptStd.eot?#iefix" }}{{ $font.RelPermalink }}') format('embedded-opentype'),
	url('{{ $font := resources.Get "fonts/BrushScriptStd.woff2" }}{{ $font.RelPermalink }}') format('woff2'),
	url('{{ $font := resources.Get "fonts/BrushScriptStd.woff" }}{{ $font.RelPermalink }}') format('woff'),
	url('{{ $font := resources.Get "fonts/BrushScriptStd.ttf" }}{{ $font.RelPermalink }}') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
